.carousel-container {
    width: auto;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-container div {
    width: 1000px;
    height: auto;
}

.carousel-image {
    display: inline !important;
    max-height: 100%;
}

@media screen and (max-width: 768px) {
    .carousel-image {
        max-width: 75vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .carousel-image {
        max-width: 75vw;
    }
}