.carousel-container {
    max-width: 65vw;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-container div {
    width: 100%;
    height: auto;
}

.carousel-image {
    display: inline !important;
    max-height: 100%;
    max-width: 75vw;
}

@media screen and (max-width: 1200px) {
    .carousel-container {
        max-width: 75vw;
        min-height: 50vh;
    }
}