.carousel-container {
    padding: 15px 0;
    max-width: 65vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-container div {
    width: 50vw;
    height: 70vh;
}

.carousel-image {
    display: inline !important;
    max-height: 100%;
}

@media screen and (max-width: 1200px) {
    .carousel-container {
        max-width: 90vw;
    }
    .carousel-container div {
        width: 90vw;
        max-height: 50vh;
    }
}

/* @media screen and (max-width: 800px) {
    .carousel-container {
        max-width: 90vw;
    }
} */