.works {
    margin: 2rem auto;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.image-gallery {
    max-width: 300px;
    height: auto;
    border: 4px solid #6a6a6a;
    cursor: pointer;
}

.image-detail {
    max-width: 400px;
    max-height: 500px;
    cursor: pointer;
}

.category-button {
    background: transparent;
    border: none;
    font-size: 20px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.closeButton {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: 1.5rem;
}

.text-device {
    width: 75vw;
}