body {
  background-color: #171717 !important;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
	color: #EDEDED !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;
}